@import '../../../../../assets/styles/variables.scss';

.card {
    &-wrapper {
        background-color: #ffff;
        height: 152px;
        padding: 20px 24px 30px 24px;
        box-shadow: 0px 1px 3px 0px #3F3F4426;
        box-shadow: 0px 0px 0px 1px #3F3F440D;   
        border-radius: 4px;
        margin-bottom: 20px;
    }
    &-info {
        max-width: 300px;
        width: 100%;
    }
    &-img img {
        max-width: 64px;
        width: 100%;
    }
}

.title {
    font-weight: bold;
    font-size: 12px;
    line-height: 16px;
    color: #66788A;
    margin-bottom: 8px;
}

.amount {
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;

    color: #212529;
    margin-bottom: 36px;
}

.interest {
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    color: #66788A;

    span {
        font-weight: 500;
        font-size: 12px;
        margin-right: 8px;
        margin-left: 18px;
        position: relative;
    }

    .icon {
        position: absolute;
        top: -3.5px;
        right: 0.8em;
    }
}

.red {
    color: #BF0E08;
}

.green {
    color: #47B881;
}

.white {
    color: #ffff;
}

.top-dashboard-cards {
    width: 96.5%;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    gap: 1em;
}

.graph {
    background-color: #ffff;
    padding: 18px;
    border-radius: 4px;
    box-shadow: 0px 1px 3px 0px #3F3F4426;
    box-shadow: 0px 0px 0px 1px #3F3F440D;

}

.progress {
    max-width: 300px;
    width: 100%;
}

.blue {
    background-color: $mainColor;
    color: #ffff;
}

.demo-chart {
    height: 400px;
}

.graph-info-text {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    letter-spacing: -0.05px;  
    color: #3A3B3F;
    line-height: 20px;
}

.graph-icon {
    color: #9EA0A5;
}

.users-device {
    font-size: 16px;
}

.last-days {
    font-size: 14px;
}

.audience {
    color: #00B4D8;
    &-icon {
        transform: rotate(90deg);
    }
}

:host {
    width: 100%;
}

@media only screen and (max-width: 768px) {
  .top-dashboard-cards {
    grid-template-columns: none;
    display: flex;
    flex-direction: column;
  }
}

@media only screen and (max-width: 1200px) {
    .top-dashboard-cards {
        grid-template-columns: 50% 50%;
    }
}