<div class="user-form-wrapper">
    <div class="title">{{ userId ? 'Edit' : 'Add'}} user</div>
    <mat-divider></mat-divider>
    <div class="user-form">
        <form [formGroup]="userForm">
            <div class="user-general-info">
                <mat-form-field appearance="outline" class="user-field">
                    <mat-label class="label">First Name</mat-label>
                    <input class="user-input" matInput formControlName="firstName">
                    <mat-hint appearance="none" class="hint" *ngIf="userForm.get('firstName')?.invalid && userForm.get('firstName')?.touched"> Please specify your first name </mat-hint>
                </mat-form-field>
                <mat-form-field appearance="outline" class="user-field">
                    <mat-label class="label">Last Name</mat-label>
                    <input class="user-input" matInput formControlName="lastName">
                    <mat-hint appearance="none" class="hint" *ngIf="userForm.get('lastName')?.invalid && userForm.get('lastName')?.touched"> Please specify your last name </mat-hint>
                </mat-form-field>
                <mat-form-field appearance="outline" class="user-field">
                    <mat-label class="label">Nickname</mat-label>
                    <input class="user-input" matInput formControlName="nickname">
                    <mat-hint appearance="none" class="hint" *ngIf="userForm.get('nickname')?.invalid && userForm.get('nickname')?.touched">Nickname must contain 6 or more symbols</mat-hint>
                </mat-form-field>                   
            </div>

            <div class="user-conection-info">
                <mat-form-field appearance="outline" class="user-field">
                    <mat-label class="label">Email</mat-label>
                    <input class="user-input" type="email" matInput formControlName="email">
                    <mat-hint appearance="none" class="hint" *ngIf="userForm.get('email')?.invalid && userForm.get('email')?.touched"> Invalid email </mat-hint>
                </mat-form-field>
                <mat-form-field appearance="outline" class="user-field">
                    <mat-label class="label">Phone number</mat-label>
                    <input class="user-input" matInput formControlName="phoneNumber">
                    <mat-hint class="hint" *ngIf="userForm.get('phoneNumber').value && userForm.get('phoneNumber')?.invalid && (userForm.get('phoneNumber')?.dirty || userForm.get('phoneNumber')?.touched)"> Invalid phone number </mat-hint>
                    <mat-hint *ngIf="!userForm.get('phoneNumber').value" class="assistive-text">Enter number in example format: 1-(618)312-3065</mat-hint>
                </mat-form-field> 
                <ng-container *ngIf="userId">
                    <mat-form-field appearance="outline" class="user-field">
                        <mat-label class="label">User ID</mat-label>
                        <input class="user-input" matInput formControlName="id" readonly>
                        <mat-hint appearance="none" class="assistive-text">User ID is readonly</mat-hint>
                    </mat-form-field>
                </ng-container>
            </div>

            <div class="user-location-info">
                <mat-form-field appearance="outline" class="user-field">
                    <mat-label class="label">Country</mat-label>
                    <input class="user-input" matInput formControlName="country">
                    <mat-hint *ngIf="userForm.get('country')?.invalid && userForm.get('country')?.touched" class="hint">Please specify your country</mat-hint>
                </mat-form-field>
                <mat-form-field appearance="outline" class="user-field">
                    <mat-label class="label">City</mat-label>
                    <input class="user-input" matInput formControlName="city">
                    <mat-hint *ngIf="userForm.get('city')?.invalid && userForm.get('city')?.touched" class="hint">Please specify your city</mat-hint>
                </mat-form-field>
            </div>
        </form>
    </div>
    <mat-divider></mat-divider>
    <div class="update-button-wrapper">

    </div>
    <button class="submit-button button-margin" [disabled]="!userForm.valid" type="submit" mat-flat-button (click)="onSubmit()">{{userId ? 'UPDATE' : 'CREATE'}}</button>

</div>