<div class="products-wrapper">
    <div class="products-header">
        <div class="products-header-image-wrapper">
            <img src="assets/images/background.jpg" alt="workspace">
        </div>
        <div class="products-title-wrapper" fxLayout="row" fxLayoutAlign="start center">
            <div class="products-title-logo">
                <img src="assets/images/logo.png" alt="logo">
            </div>
            <div class="products-title-text">
                <div class="products-category">PRODUCTS</div>
                <div class="products-name">App Products</div>
            </div>
        </div>
    </div>
    <div class="user-actions-wrapper" fxLayout="row wrap" fxLayoutAlign="space-between center">
        <mat-form-field class="user-search" floatLabel=never appearance="none" fxLayout='row' fxLayoutAlign="space-between center">
            <mat-icon class="icon">search</mat-icon>
            <input type="text" matInput placeholder="Search users by name, id" [(ngModel)]="filteredString">
        </mat-form-field>
        <div class="button-wrapper"><button mat-flat-button>NEW PRODUCT</button></div>
    </div>
    <div class="app-products-list">
        <app-product *ngFor="let product of (products$ | async) | filterProduct: filteredString" [product]="product"></app-product>
    </div>
</div>
