@import '../../../../../assets/styles/_variables.scss';
@import url("https://fonts.googleapis.com/icon?family=Material+Icons|Material+Icons+Outlined");

.sidenav {
    box-sizing: border-box;
    max-width: 270px;
    width: 100%;
    margin:0;
    background-color: #ffff;
    position: fixed;
    height: 100%;
    overflow: auto;
    text-align: center;
    padding: 0 16px;
    font-family: 'Roboto', sans-serif;
    box-shadow: 0px 0px 0px 1px rgba(63, 63, 68, 0.05), 0px 1px 3px rgba(63, 63, 68, 0.15);
    z-index: 100;
}

.user-icon {
    padding-top: 24px;
    margin-bottom: 23px;
}

.team-name {
    font-size: 1.2em;
}

.action-label {
    max-width: 238px;
    width: 100%;
    margin: 0 auto;
    font-size: 14px;
    padding: 13px 10px;
    color: #66788A;
    font-weight: 500;
    cursor: pointer;

    &-link {
        text-decoration: none;
        color:#212529;
    }
}

.action-icon {
    margin-right: 10px;
    margin-left: 10px;
    color: #66788A;
}

.content {
    width: 100%;
    font-family: 'Roboto', sans-serif;
    padding: 1em 1em 0 4.8em;
}

.user-img-wrapper img{
    max-width: 100px;
    width: 100%;
}

.small-text {
    color: $smallTextColor;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
}

.user-name {
    font-size: 16px;
    color: #3A3B3F;
}

.user-actions-list {
    margin-top: 20px;

    button {
        background-color: #ffff;
        font-family: Roboto;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: -0.05px;
        cursor: pointer;
        padding: 13px 16px;
        border: none;
        color: #66788A;
        width: 100%;
    }
}

.active {
    background: #F6F9FD;
    box-shadow: inset 3px 0px 0px #00B4D8;
    border-radius: 4px;
    color: #212529;
}