@import '../../../../../assets/styles/_variables.scss';

.sidenav {
    box-sizing: border-box;
    max-width: 270px;
    width: 100%;
    margin:0;
    background-color: #ffff;
    position: fixed;
    height: 100%;
    overflow: auto;
    text-align: center;
    padding: 0 16px;
    font-family: 'Roboto', sans-serif;
    box-shadow: 0px 0px 0px 1px rgba(63, 63, 68, 0.05), 0px 1px 3px rgba(63, 63, 68, 0.15);
    z-index: 100;
}

:host ::ng-deep .mat-button-toggle-appearance-standard .mat-button-toggle-label-content {
    padding: 0px;
}

:host ::ng-deep .mat-button-toggle-appearance-standard .mat-button-toggle-label-content {
    line-height: 16px;
}

:host ::ng-deep .mat-button-toggle-group-appearance-standard {
    border: none;
}

:host ::ng-deep .mat-button-toggle-label-content {
    width: 100%;
}

:host ::ng-deep .mat-button-toggle-checked {
    box-shadow: inset 3px 0px 0px $mainColor;
    border-radius: 4px;
    background-color: #F6F9FD;
    color: #212529;
}

:host ::ng-deep .mat-button-toggle-group-appearance-standard .mat-button-toggle+.mat-button-toggle {
    border-left: none;
}

.user-icon {
    padding-top: 24px;
    margin-bottom: 23px;
}

.team-name {
    font-size: 1.2em;
}

.action-label {
    max-width: 238px;
    width: 100%;
    margin: 0 auto;
    font-size: 14px;
    padding: 13px 10px;
    color: #66788A;
    font-weight: 500;
    cursor: pointer;

    &-link {
        text-decoration: none;
        color:#212529;
    }
}

.action-icon {
    margin-right: 10px;
    margin-left: 10px;
    color: #66788A;
}

.content {
    //margin-left:20%;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    padding: 1em 1em 0 4.8em;
}

.user-img-wrapper img{
    max-width: 100px;
    width: 100%;
}

.small-text {
    color: $smallTextColor;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
}

.user-name {
    font-size: 16px;
    color: #3A3B3F;
}

.user-actions-list {
    margin-top: 20px;
}