<div class="sidenav">
    <div class="user-icon" fxLayout="column">
        <div class="user-img-wrapper"><img src="assets/images/user1.jpg" alt="user"></div>
        <span class="user-name">Ivan Ivanov</span>
        <small class="small-text">Brain director</small>
    </div>
    <mat-divider></mat-divider>
    <div class="user-actions-list">
        <button fxLayout="row" fxLayoutAlign="space-between center" mat-button [routerLinkActive]="['active']" routerLink="dashboard"><mat-icon class="action-icon material-icons-outlined">dashboard</mat-icon>Dashboard</button>
        <button fxLayout="row" fxLayoutAlign="space-between center" mat-button [routerLinkActive]="['active']" routerLink="users"><mat-icon class="action-icon material-icons-outlined">people</mat-icon>Users</button>
        <button fxLayout="row" fxLayoutAlign="space-between center" mat-button [routerLinkActive]="['active']"><mat-icon class="action-icon material-icons-outlined">lock_open</mat-icon>Profile</button>
        <button fxLayout="row" fxLayoutAlign="space-between center" mat-button [routerLinkActive]="['active']" routerLink="products"><mat-icon class="action-icon material-icons-outlined">image</mat-icon>Products</button>
    </div>
</div>