<form [formGroup]="loginForm">
    <div class="container" fxLayout="column" fxLayoutAlign="none center">
        <div class="labels" fxLayout="column" fxLayoutAlign="start start">
            <label class="login-label-small signup-label">Don’t have an account? <a class="link" [routerLink]="'/auth/register'">Sign Up</a></label>
            <label class="login-label"> Sign In to Angular </label>
            <label class="login-label-small"> Sign in on the internal platform </label>
        </div>

        <mat-form-field appearance="outline" class="login-field">
            <mat-label class="label">Email Address</mat-label>
            <input class="login-input" type="email" matInput formControlName="email">
            <mat-hint appearance="none" class="hint" *ngIf="loginForm.get('email')?.invalid && loginForm.get('email')?.touched"> Invalid email</mat-hint>
        </mat-form-field>

        <mat-form-field appearance="outline" class="login-field">
            <mat-label class="label">Password</mat-label>
            <input type="password" matInput formControlName="password">
            <mat-hint appearance="none" class="hint" *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched"> Password must contain 6 or more symbols</mat-hint>
        </mat-form-field>

        <button class="submit-button button-margin" mat-flat-button 
            [disabled]="!loginForm.valid"
            type="submit" (click)="onSubmit()">
            SIGN IN
        </button>
    </div>
</form>
