<form [formGroup]="registerForm" class="register">
    <div class="container">
        <div class="labels" fxLayout="column" fxLayoutAlign="start start">
            <a class="link" [routerLink]="'/auth/login'">
                <label class="login-label-small goback-label" fxLayout="row" fxLayoutAlign="center center">
                    <mat-icon class="goback-icon">arrow_back</mat-icon> 
                        <span> Go back </span>
                </label>
                </a>
            <label class="login-label-small signup-label">Have an account? <a class="link" [routerLink]="'/auth/login'">Sign In</a></label>
            <label class="login-label"> Sign up to Angular </label>
            <label class="login-label-small"> Sign up on the internal platform </label>
        </div>

        <mat-form-field appearance="outline" class="login-field">
            <mat-label class="label">First Name</mat-label>
            <input class="login-input" matInput formControlName="firstName">
        </mat-form-field>

        <mat-form-field appearance="outline" class="login-field">
            <mat-label class="label">Last Name</mat-label>
            <input class="login-input" matInput formControlName="lastName">
        </mat-form-field>

        <mat-form-field appearance="outline" class="login-field">
            <mat-label class="label">Email Address</mat-label>
            <input class="login-input" matInput type="email" formControlName="email">
            <mat-hint appearance="none" class="hint" *ngIf="registerForm.get('email')?.invalid && registerForm.get('email')?.touched"> Invalid email</mat-hint>
        </mat-form-field>

        <mat-form-field appearance="outline" class="login-field">
            <mat-label class="label">Password</mat-label>
            <input class="login-input" matInput type="password" formControlName="password">
            <mat-hint appearance="none" class="hint" *ngIf="registerForm.get('password')?.invalid && registerForm.get('password')?.touched"> Password must contain 6 or more symbols</mat-hint>
        </mat-form-field>

        <mat-form-field appearance="outline" class="login-field">
            <mat-label class="label">Confirm password</mat-label>
            <input class="login-input" type="password" matInput formControlName="confirmPassword">
            <mat-hint appearance="none" class="hint" *ngIf="registerForm.get('confirmPassword')?.invalid && registerForm.get('confirmPassword')?.touched"> Password must contain 6 or more symbols </mat-hint>
        </mat-form-field>

        <mat-error *ngIf="registerForm.get('confirmPassword')?.touched && registerForm.get('password')?.touched && registerForm.hasError('passwordsNotMatching')">
            Passwords are not the same
        </mat-error>
        <div class="wrapper-check-box">
            <mat-checkbox class="register-check-box" color="primary" formControlName="agreement">
                I have read the <a class="link" href="">Terms and Conditions</a>.
            </mat-checkbox>
        </div>
        <button class="submit-button" mat-flat-button 
            [disabled]="!registerForm.valid"
            type="submit" (click)="onSubmit()">
            SIGN UP NOW
        </button>
    </div>
</form>
