@import "../../../../../assets/styles/variables.scss";
@import "../../styles/login.scss";

.goback-label {
    position: absolute;
    bottom: 58px;
    left: 0px;
    cursor: pointer;
}

.signup-label {
    position: absolute;
    bottom: 60px;
    right: 0px;
}

.register-check-box {
    font-family: 'Roboto', sans-serif;
    color: #9EA0A5;
    .link {
        color: rgba(0, 0, 0, 0.6);
        cursor: pointer;
    }
}

.wrapper-check-box {
    width: 100%;
    max-width: 360px;
    margin-bottom: 1.06em;
}

.register {
    margin-top: 20px;
}