@import '../styles/_variables.scss';

:host ::ng-deep .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
    color: $mainColor;
}

:host ::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline-thick {
    color: $mainColor;
}

:host ::ng-deep .mat-form-field.mat-focused .mat-form-field-label {
    color: $mainColor;
}