<mat-toolbar class="nav" fxLayout="row" fxLayoutAlign="space-between center">
    <div class="nav-logo" fxLayout="row" fxLayoutAlign="start center">
        <div class="logo">
            <div class="circle"></div>
            <div class="oval-first"></div>
            <div class="oval-second"></div>
        </div>
        <span>Angular app</span>
    </div>
    <div class="nav-exit" fxLayout="column" fxLayoutAlign="center center">
        <a><mat-icon fxLayout="column" fxLayoutAlign="center center" (click)="logout()">exit_to_app</mat-icon></a>
    </div>
</mat-toolbar>